.OrderItem-container {
     padding: 20px;
     margin: 20px;
     background-color: rgb(234, 248, 234);
     .status {
          width: max-content;
          border-radius: 10px;
     }
     .update-wrap {
          margin: 10px 0;
          .enable {
               // border: 2px solid red;

               .fas {
                    font-size: 1.4rem;
                    cursor: pointer;
               }
               .fa-toggle-on {
                    color: red;
               }
          }

          .update {
               padding: 5px 10px;
               background-color: rgb(241, 93, 93);
               width: max-content;
               margin: 10px 0;
               border-radius: 5px;
               border: none;
               &:disabled {
                    background-color: rgb(182, 176, 176);
                    pointer-events: none;
               }
          }
     }
     .status.processing {
          background-color: orange;
          padding: 5px;
     }
     .status.completed {
          background-color: rgb(0, 255, 98);
          padding: 5px;
     }
     .status.error {
          background-color: rgb(248, 64, 80);
          padding: 5px;
     }
}
